.home__section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #5770F7;
    box-sizing: border-box;
}

.home__section header {
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
}

.home__section nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__section nav > .navbar__icon {
    color: #FFF;
    font-size: 2rem;
    cursor: pointer;
}

.home__section nav > .navbar__icon-sidebar {
    color: #FFF;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 20rem;
}

.home__section main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home__section .home__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 8rem;
    height: 25vh;
    width: 100%;
}

.home__section .home__header > h2 {
    font-weight: 700;
    font-size: 5rem;
    color: #FFF;
    z-index: 1;
    margin-bottom: 0.5rem;
}

.home__section .home__header > img {
    position: absolute;
    top: -5rem;
    right: 12rem;
    min-width: 320px;
    width: 24%;
}

.home__section .home__content {
    height: 75vh;
    background-color: var(--color-container-todolist);
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
}

.home__section .home__content .home__tasks-empty {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__section .home__content .home__tasks-empty-newitem {
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__section .home__content .home__tasks-empty h3 {
    color: #7C7C8A;
    font-size: 1.5rem;
    font-weight: 400;
}

.home__section .home__content .home__tasks-empty-newitem h3 {
    color: #7C7C8A;
    font-size: 1.5rem;
    font-weight: 400;
}

.home__section .home__content .home__tasks-empty .home__tasks-icon {
    color: #7C7C8A;
    font-size: 4rem;
}

.home__section .home__content .home__tasks-empty-newitem .home__tasks-icon {
    color: #7C7C8A;
    font-size: 4rem;
}

.home__section .home__content .home__tasks-wrapper {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 8rem 0;
}

.home__section .home__tasks-wrapper > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem 0;
    position: relative;
    width: 82vw;
    transition: all 0.3s;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.home__section .home__tasks-wrapper > div:hover,
.home__section .home__tasks-wrapper > div:focus {
    background-color: rgba(211, 211, 211, 0.2);
}

/* Esconder o checkbox */
.home__section .home__tasks-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    z-index: 1;
}

/* Criar o checkbox customizado */
.checkmark {
    margin-right: 1.2rem;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #7c7c8a96;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.home__section .home__tasks-wrapper input[type="checkbox"]:hover ~ .checkmark {
    background-color: #576ff76b;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.home__section .home__tasks-wrapper input[type="checkbox"]:checked ~ .checkmark {
    background-color: var(--checked-color-background);
}

/* Criar o ícone de check, escondido quando não estiver selecionado */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 19px;
    top: 3px;
    width: 8px;
    height: 18px;
    border: solid var(--checked-color-icon);
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Exibir o ícone quando selecionado */
.home__section .home__tasks-wrapper input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

.home__section .home__tasks-wrapper span {
    color: var(--text-color-todolist);
}

.home__tasks-button {
    border: none;
    background-color: #5770F7;
    color: #FFF;
    padding: 0.5rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 3.5rem;
    bottom: 3rem;
    cursor: pointer;
    transition: all 0.5s;
}

.home__tasks-button:hover,
.home__tasks-button:focus {
    background-color: #425df7;
}

.home__tasks-deleteicon {
    transition: all 1s !important;
    color: #7C7C8A;
    cursor: pointer;
    position: absolute;
    left: 97%;
}

.home__tasks-deleteicon:hover,
.home__tasks-deleteicon:focus {
    color: rgb(181, 48, 48);
}

.home__tasks-line-through {
    text-decoration: line-through;
    opacity: 0.35;
}

.home__section .home__newtask input {
    margin-left: 2.5rem;
    width: 90%;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--color-container-todolist);
    color: var(--text-color-todolist);
}

.home__todolist .home__newtask-emptylist input {
    margin-left: 10rem;
    width: 80%;
    margin-top: 4rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--text-color-todolist);
}
