.music__player {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
    width: 200px;
}

.music__player svg {
    color: var(--color-music-player);
    font-size: 3rem;
    cursor: pointer;
}

.player__changeButton {
    margin: 0 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .music__player {
        width: 220px;
    }

    .player__changeButton {
        margin: 0 2.2rem;
    }
}