.signup__section {
    background-image: url('/public/images/background-signup.svg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.signup__section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup__section img.man {
    min-width: 680px;
    width: 100%;
    margin-top: 4rem;
    animation: pulse;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.signup__section .brand {
    width: 150px;
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    margin: auto;
}